.error-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);

  &__text {
    text-align: center;
    font-size: 25px;
    color: rgb(108, 21, 89);
  }
}
